Calculate the total marks obtained by students in each class.
Find the average marks of students by gender.
Identify the highest marks scored in each class.
Find the lowest marks scored by students in each gender category.
Count the number of students in each class.
Calculate the total marks by both gender and class.
Calculate the total, average, and maximum marks for each class in one query.
Find the classes where the total marks exceed 2000.
Calculate the total marks across all students.
For each class, calculate the percentage of total marks scored compared to the highest marks in that class.
Find the genders where the average marks are greater than 450.
Calculate the average, minimum, and maximum marks for each combination of gender and class.
Identify classes where fewer than 5 students are enrolled.
Calculate the percentage of total marks for each class compared to the overall total marks.
Determine the number of students in each gender-category within each class.
Find the maximum marks scored by any student in each gender-class combination.
List classes where the sum of marks exceeds the sum of marks in another class (e.g., Class 10 vs Class 12).
Find the total marks scored by students grouped by gender and sorted in descending order of total marks.
Determine the difference between the highest and lowest marks in each class.
For each class and gender, find the student(s) with the highest marks.

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark= SparkSession.builder.appName('student-data').getOrCreate()

In [ ]:
spark

In [ ]:
student_df = spark.read.csv("/content/drive/MyDrive/Data/student-data.csv", inferSchema=True, header=True)

Simple EDA of Data

In [ ]:
# print the data
student_df.show()

+-------+------+-----+-----------+
|   Name|Gender|Class|Total_Marks|
+-------+------+-----+-----------+
|  Alice|Female|   10|        450|
|    Bob|  Male|   12|        480|
|Charlie|  Male|   11|        470|
|  Diana|Female|   10|        490|
|    Eve|Female|   12|        430|
|  Frank|  Male|   11|        400|
|  Grace|Female|   10|        460|
|  Henry|  Male|   12|        420|
|  Irene|Female|   11|        480|
|   Jack|  Male|   10|        440|
|  Kevin|  Male|   12|        500|
|  Laura|Female|   11|        470|
|   Mike|  Male|   10|        410|
|  Nancy|Female|   12|        450|
| Oliver|  Male|   11|        470|
|  Paula|Female|   10|        490|
|Quentin|  Male|   12|        480|
| Rachel|Female|   11|        460|
|  Steve|  Male|   10|        400|
|   Tina|Female|   12|        470|
+-------+------+-----+-----------+

In [ ]:
#Gives summary regarding the types of data
student_df.describe()

DataFrame[summary: string, Name: string, Gender: string, Class: string, Total_Marks: string]

In [ ]:
student_df.printSchema() # print the structure of schema

root
 |-- Name: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Class: integer (nullable = true)
 |-- Total_Marks: integer (nullable = true)

In [ ]:
student_df.columns

['Name', 'Gender', 'Class', 'Total_Marks']

In [ ]:
student_df.show()

+-------+------+-----+-----------+
|   Name|Gender|Class|Total_Marks|
+-------+------+-----+-----------+
|  Alice|Female|   10|        450|
|    Bob|  Male|   12|        480|
|Charlie|  Male|   11|        470|
|  Diana|Female|   10|        490|
|    Eve|Female|   12|        430|
|  Frank|  Male|   11|        400|
|  Grace|Female|   10|        460|
|  Henry|  Male|   12|        420|
|  Irene|Female|   11|        480|
|   Jack|  Male|   10|        440|
|  Kevin|  Male|   12|        500|
|  Laura|Female|   11|        470|
|   Mike|  Male|   10|        410|
|  Nancy|Female|   12|        450|
| Oliver|  Male|   11|        470|
|  Paula|Female|   10|        490|
|Quentin|  Male|   12|        480|
| Rachel|Female|   11|        460|
|  Steve|  Male|   10|        400|
|   Tina|Female|   12|        470|
+-------+------+-----+-----------+

Q1. Calculate the total marks obtained by students in each class.

In [ ]:
classwise_total_marks = student_df.groupBy('Class').sum('Total_Marks').show()

+-----+----------------+
|Class|sum(Total_Marks)|
+-----+----------------+
|   12|            3230|
|   10|            3140|
|   11|            2750|
+-----+----------------+

Q2. Find the average marks of students by gender.

In [ ]:
student_df.groupBy('Gender').avg('Total_Marks').show()

+------+----------------+
|Gender|avg(Total_Marks)|
+------+----------------+
|Female|           465.0|
|  Male|           447.0|
+------+----------------+

Q3. Identify the highest marks scored in each class.

In [ ]:
student_df.groupBy('Class').max('Total_Marks').show()

+-----+----------------+
|Class|max(Total_Marks)|
+-----+----------------+
|   12|             500|
|   10|             490|
|   11|             480|
+-----+----------------+

Q4. Find the lowest marks scored by students in each gender category.

In [ ]:
student_df.groupBy('Gender').min('Total_Marks').show()

+------+----------------+
|Gender|min(Total_Marks)|
+------+----------------+
|Female|             430|
|  Male|             400|
+------+----------------+

Q5. Count the number of students in each class.

In [ ]:
student_df.groupBy('Class').count().show()

+-----+-----+
|Class|count|
+-----+-----+
|   12|    7|
|   10|    7|
|   11|    6|
+-----+-----+

Q6. Calculate the total marks by both gender and class.

In [ ]:
student_df.groupBy(['Gender','Class']).sum('Total_Marks').show()

+------+-----+----------------+
|Gender|Class|sum(Total_Marks)|
+------+-----+----------------+
|Female|   10|            1890|
|Female|   11|            1410|
|Female|   12|            1350|
|  Male|   12|            1880|
|  Male|   11|            1340|
|  Male|   10|            1250|
+------+-----+----------------+

Q7. Calculate the total, average, and maximum marks for each class in one query.

In [ ]:
from pyspark.sql.functions import sum , avg , max
student_df.groupBy('Class').agg(
    sum('Total_Marks').alias('Sum'),
    avg('Total_Marks').alias('Avgerage'),
    max('Total_Marks').alias('Maximum'),
).show()

+-----+----+------------------+-------+
|Class| Sum|          Avgerage|Maximum|
+-----+----+------------------+-------+
|   12|3230|461.42857142857144|    500|
|   10|3140|448.57142857142856|    490|
|   11|2750| 458.3333333333333|    480|
+-----+----+------------------+-------+

Q8. Find the classes where the total marks exceed 2000

In [ ]:
student_df.groupBy('Class').agg(sum('Total_Marks').alias('Sum')).filter('Sum > 3000').show()

+-----+----+
|Class| Sum|
+-----+----+
|   12|3230|
|   10|3140|
+-----+----+

Q9. Calculate the total marks across all students.

In [ ]:
student_df.agg({'Total_Marks' : 'sum'}).alias('total marks across all students').show()

+----------------+
|sum(Total_Marks)|
+----------------+
|            9120|
+----------------+

Q10. Find the genders where the average marks are greater than 450.

In [ ]:
student_df.groupBy('Gender').agg(avg('Total_Marks').alias('Average')).filter('Average > 450').show()

+------+-------+
|Gender|Average|
+------+-------+
|Female|  465.0|
+------+-------+

11. Calculate the average, minimum, and maximum marks for each combination of gender and class.

In [ ]:
from pyspark.sql.functions import min , max
student_df.groupBy(['Gender', 'Class']).agg(
    avg('Total_Marks').alias('Average'),
    min('Total_Marks').alias('Minimum'),
    max('Total_Marks').alias('Maximum')
).show()

+------+-----+-----------------+-------+-------+
|Gender|Class|          Average|Minimum|Maximum|
+------+-----+-----------------+-------+-------+
|Female|   10|            472.5|    450|    490|
|Female|   11|            470.0|    460|    480|
|Female|   12|            450.0|    430|    470|
|  Male|   12|            470.0|    420|    500|
|  Male|   11|446.6666666666667|    400|    470|
|  Male|   10|416.6666666666667|    400|    440|
+------+-----+-----------------+-------+-------+

12. Identify classes where fewer than 5 students are enrolled.

In [ ]:
from pyspark.sql.functions import count
student_df.groupBy('Class').agg(
    count('Name').alias('total_student_per_class')
).filter('total_student_per_class < 7').show()

+-----+-----------------------+
|Class|total_student_per_class|
+-----+-----------------------+
|   11|                      6|
+-----+-----------------------+

Q13.Determine the number of students in each gender-category within each class.

In [ ]:
student_df.groupBy('Class').agg({'Gender' : 'count'}).show()

+-----+-------------+
|Class|count(Gender)|
+-----+-------------+
|   12|            7|
|   10|            7|
|   11|            6|
+-----+-------------+

Q14. Find the maximum marks scored by any student in each gender-class combination.

In [ ]:
max_marks = student_df.groupBy(['Gender', 'Class']).agg({'Total_Marks':'max'}).alias('max_marks')
result = student_df.join(max_marks, (student_df['Gender'] == max_marks['Gender']) & (student_df['Class'] == max_marks['Class']), 'inner')

In [ ]:
result.show()

+-------+------+-----+-----------+------+-----+----------------+
|   Name|Gender|Class|Total_Marks|Gender|Class|max(Total_Marks)|
+-------+------+-----+-----------+------+-----+----------------+
|  Alice|Female|   10|        450|Female|   10|             490|
|    Bob|  Male|   12|        480|  Male|   12|             500|
|Charlie|  Male|   11|        470|  Male|   11|             470|
|  Diana|Female|   10|        490|Female|   10|             490|
|    Eve|Female|   12|        430|Female|   12|             470|
|  Frank|  Male|   11|        400|  Male|   11|             470|
|  Grace|Female|   10|        460|Female|   10|             490|
|  Henry|  Male|   12|        420|  Male|   12|             500|
|  Irene|Female|   11|        480|Female|   11|             480|
|   Jack|  Male|   10|        440|  Male|   10|             440|
|  Kevin|  Male|   12|        500|  Male|   12|             500|
|  Laura|Female|   11|        470|Female|   11|             480|
|   Mike|  Male|   10|        410|  Male|   10|             440|
|  Nancy|Female|   12|        450|Female|   12|             470|
| Oliver|  Male|   11|        470|  Male|   11|             470|
|  Paula|Female|   10|        490|Female|   10|             490|
|Quentin|  Male|   12|        480|  Male|   12|             500|
| Rachel|Female|   11|        460|Female|   11|             480|
|  Steve|  Male|   10|        400|  Male|   10|             440|
|   Tina|Female|   12|        470|Female|   12|             470|
+-------+------+-----+-----------+------+-----+----------------+

Q15. Calculate the percentage of total marks for each class compared to the overall total marks.

In [ ]:
#Q15. Calculate the percentage of total marks for each class compared to the overall total marks.
student_df = student_df.withColumn('Total_Marks', student_df['Total_Marks'].cast('int'))
total_marks_per_class = student_df.groupBy('Class').agg(sum('Total_Marks').alias('Total_Marks_Per_Class'))
overall_total_marks = total_marks_per_class.agg(sum('Total_Marks_Per_Class').alias('Overall_Total_Marks')).collect()[0]['Overall_Total_Marks']
final_result = total_marks_per_class.withColumn('Percentage', (total_marks_per_class['Total_Marks_Per_Class'] / overall_total_marks) * 100)
final_result.show()

+-----+---------------------+------------------+
|Class|Total_Marks_Per_Class|        Percentage|
+-----+---------------------+------------------+
|   12|                 3230| 35.41666666666667|
|   10|                 3140| 34.42982456140351|
|   11|                 2750|30.153508771929825|
+-----+---------------------+------------------+